# Lecture 05

In [1]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Columns

In [2]:
Table()

In [3]:
# let's recreate: https://en.wikipedia.org/wiki/2014_Winter_Olympics_medal_table

In [4]:
countries = make_array('Russia', 'US', 'Norway')
countries

array(['Russia', 'US', 'Norway'], dtype='<U6')

In [5]:
Table().with_column(
  'Country', countries
)

Country
Russia
US
Norway

In [6]:
medals = make_array(29, 28, 26)
medals

array([29, 28, 26])

In [7]:
medal_count = Table().with_columns(
  'Country', countries, 
  'Medals', medals
)

In [8]:
medal_count = medal_count.with_column(
  'Gold', make_array(11,9,11)
)
medal_count

Country | Medals | Gold
Russia  | 29     | 11
US      | 28     | 9
Norway  | 26     | 11

In [9]:
medal_count

Country | Medals | Gold
Russia  | 29     | 11
US      | 28     | 9
Norway  | 26     | 11

## Minard's map

![Minard's Map](minard.png)

In [10]:
minard = Table.read_table('minard.csv')
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [11]:
minard.num_columns

5

In [12]:
minard.num_rows

8

In [13]:
minard.labels

('Longitude', 'Latitude', 'City', 'Direction', 'Survivors')

In [14]:
minard.column('Survivors')

array([145000, 140000, 127100, 100000,  55000,  24000,  20000,  12000])

In [15]:
initial_size = minard.column('Survivors').item(0)
initial_size

145000

In [16]:
proportion_surviving = minard.column('Survivors') / initial_size
proportion_surviving

array([1.        , 0.96551724, 0.87655172, 0.68965517, 0.37931034,
       0.16551724, 0.13793103, 0.08275862])

In [17]:
with_proportions = minard.with_column(
    'Proportion Surviving', proportion_surviving
)
with_proportions

Longitude | Latitude | City        | Direction | Survivors | Proportion Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 1
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 0.965517
34.4      | 55.5     | Chjat       | Advance   | 127100    | 0.876552
37.6      | 55.8     | Moscou      | Advance   | 100000    | 0.689655
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 0.37931
32        | 54.6     | Smolensk    | Retreat   | 24000     | 0.165517
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 0.137931
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 0.0827586

In [18]:
with_proportions.set_format('Proportion Surviving', PercentFormatter)

Longitude | Latitude | City        | Direction | Survivors | Proportion Surviving
32        | 54.8     | Smolensk    | Advance   | 145000    | 100.00%
33.2      | 54.9     | Dorogobouge | Advance   | 140000    | 96.55%
34.4      | 55.5     | Chjat       | Advance   | 127100    | 87.66%
37.6      | 55.8     | Moscou      | Advance   | 100000    | 68.97%
34.3      | 55.2     | Wixma       | Retreat   | 55000     | 37.93%
32        | 54.6     | Smolensk    | Retreat   | 24000     | 16.55%
30.4      | 54.4     | Orscha      | Retreat   | 20000     | 13.79%
26.8      | 54.3     | Moiodexno   | Retreat   | 12000     | 8.28%

## Rows

In [19]:
minard

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000
34.3      | 55.2     | Wixma       | Retreat   | 55000
32        | 54.6     | Smolensk    | Retreat   | 24000
30.4      | 54.4     | Orscha      | Retreat   | 20000
26.8      | 54.3     | Moiodexno   | Retreat   | 12000

In [20]:
minard.take(0)

Longitude | Latitude | City     | Direction | Survivors
32        | 54.8     | Smolensk | Advance   | 145000

In [21]:
np.arange(0, 4)

array([0, 1, 2, 3])

In [22]:
minard.take(np.arange(0,4))

Longitude | Latitude | City        | Direction | Survivors
32        | 54.8     | Smolensk    | Advance   | 145000
33.2      | 54.9     | Dorogobouge | Advance   | 140000
34.4      | 55.5     | Chjat       | Advance   | 127100
37.6      | 55.8     | Moscou      | Advance   | 100000

## Lists

All array elements must have same type.  Note that `42` becomes `'42'`:

In [23]:
make_array(42, 'hello')

array(['42', 'hello'], dtype='<U21')

In [24]:
make_array(42, 'hello').item(0)

'42'

In [25]:
0 + make_array(42, 'hello').item(0)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

*Lists* may be hetergeneous:  elements have different types.

In [26]:
[42, 'hello']

[42, 'hello']

List indexing is written with square brackets, rather than with a method call.

In [27]:
lst = [42, 'hello']
lst[0]

42

In [28]:
0 + [42, 'hello'][0]

42

The table `take` method will accept a list as an argument.

In [29]:
minard.take([0,2,3])

Longitude | Latitude | City     | Direction | Survivors
32        | 54.8     | Smolensk | Advance   | 145000
34.4      | 55.5     | Chjat    | Advance   | 127100
37.6      | 55.8     | Moscou   | Advance   | 100000