# Lecture 04

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Arithmetic

In [ ]:
2 + 3

In [ ]:
2 * 3

In [ ]:
2 ** 3

In [ ]:
2 * * 3

In [ ]:
10 * 2 ** 3

In [ ]:
2 / 3

In [ ]:
2 / 0

In [ ]:
2 / 3000

In [ ]:
2 / 3000000

In [ ]:
0.6666666666666666 - 0.6666666666666666123456789

In [ ]:
0.000000000000000123456789

In [ ]:
0.000000000000000000000000000000000000000000000000000000000000000000000123456789

In [ ]:
2 ** 0.5

In [ ]:
2 ** 0.5 * 2 ** 0.5

In [ ]:
2 ** 0.5 * 2 ** 0.5 - 2

## Strings

In [ ]:
'hello'

In [ ]:
'2.3'

In [ ]:
'2.3' + 4

In [ ]:
'2.3' * 4

In [ ]:
float('2.3')

In [ ]:
str(2.3)

In [ ]:
int('2')

In [ ]:
int('23') + float('2.0')

In [ ]:
x = 12
int(str(x) + '0')

## Arrays

Array:  sequence of values, all the same type, "boxed up"

In [ ]:
make_array(1, 2, 'hello')

In [ ]:
a = make_array(1, 2, 3)
a

Arithmetic operations are *broadcast*

In [ ]:
a * 2

In [ ]:
a + 5

In [ ]:
make_array(1,2,3,4) + make_array(10, 100, 1000, 10_000)

In [ ]:
a

In [ ]:
len(a)

In [ ]:
max(a)

In [ ]:
min(a)

In [ ]:
sum(a)

In [ ]:
make_array(1,2,3) + make_array(1,2)

*Index* into array to retrieve items.  Indices start at 0.

In [ ]:
a.item(0)

In [ ]:
a.item(1)

In [ ]:
a.item(3)

Think of `item(n)` as asking for the item that has `n` items before it.

## Range

`np.arange`: a library function that produces an array containing a range of values

In [ ]:
np.arange(1, 5)

Range includes beginning, excludes ending:  $[1, 5)$

In [ ]:
b = np.arange(0, 20)
b

In [ ]:
c = np.arange(2,-2,-1)
c

## Columns

Table columns are arrays

In [ ]:
# From http://www.boxofficemojo.com/alltime/adjusted.htm
movies = Table.read_table('top_movies_2017.csv')
movies.show(15)

In [ ]:
movies.column('Year')

Let's make a table that also contains the age of the movie.  (2018 is 0 years old, 2017 is 1 year old, etc.)

In [ ]:
2018 - movies.column('Year')

In [ ]:
movies.with_column(
  'Age', 2018 - movies.column('Year')
)

In [ ]:
age = 2018 - movies.column('Year')
age

In [ ]:
movies = movies.with_column('Age', age)
movies

In [ ]:
movies.sort('Age').show(20)

How does age relate to proceeds?

In [ ]:
movies.scatter('Age', 'Gross')

In [ ]:
movies.scatter('Age', 'Gross (Adjusted)')