# Lecture 13: Control

In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Booleans

In [ ]:
x = 3
y = 4
y > x

In [ ]:
10/2 != y

In [ ]:
'Dog' > 'Cat'

In [ ]:
'Dog' > 'Catastrophe' > 'Cat'

A. True  
B. False

In [ ]:
a = np.arange(11, 50)
a

In [ ]:
a > 30

In [ ]:
a == 15

In [ ]:
def teen(x):
    return 13 <= x <= 19

[teen(10), teen(15), teen(20)]

In [ ]:
ages = Table().with_column('Age', a)
ages

In [ ]:
ages = ages.with_column('Teenager', ages.apply(teen, 'Age'))
ages

## Combining Booleans

In [ ]:
x = 3
y = 4

In [ ]:
x < 4 and y > 4

In [ ]:
x < 4 or y > 4

In [ ]:
not (x < 4 or y > 4)

In [ ]:
True + 0

In [ ]:
False + 0

In [ ]:
sum([False, True, True, False, True])

A. 0  
B. 1  
C. 2  
D. 3  
E. 4

In [ ]:
ages

In [ ]:
ages.column('Teenager')

In [ ]:
sum(ages.column('Teenager'))

In [ ]:
np.count_nonzero(ages.column('Teenager'))

## Random choice

In [ ]:
coin = make_array('Heads', 'Tails')
coin

In [ ]:
np.random.choice(coin)

In [ ]:
np.random.choice(coin, 10)

In [ ]:
d6 = np.arange(1,6+1)
d6

In [ ]:
np.random.choice(d6, 3)

What are the possible results?

A. 1-6  
B. 1-18  
C. multiples of 3 between 1-18  
D. 3-18  
E. none of the above

What if we made the code be:

In [ ]:
sum(np.random.choice(d6, 3))

In [ ]:
two_groups = make_array('treatment', 'control')
outcomes = np.random.choice(two_groups, 10)
outcomes

In [ ]:
outcomes == 'control'

In [ ]:
#sum(outcomes)

In [ ]:
sum(outcomes == 'control')

In [ ]:
sum(outcomes == 'treatment')

## Discussion Question

In [ ]:
outcomes = np.random.choice(d6, 1000) + np.random.choice(d6, 1000)
Table().with_column('Outcome', outcomes).hist('Outcome', bins=np.arange(1.5,13))

In [ ]:
outcomes = 2 * np.random.choice(d6, 1000)
Table().with_column('Outcome', outcomes).hist('Outcome', bins=np.arange(1.5,13))

## Conditional Statements

In [ ]:
x = 42
if x > 0:
    print('positive')
elif x < 0:
    print('negative')
else:
    print('zero')

In [ ]:
def sign(x):
    if x > 0:
        return 'positive'
    elif x < 0:
        return 'negative'
    else:
        return 'zero'

In [ ]:
sign(-3)

## For Statements

In [ ]:
np.arange(4)

In [ ]:
for i in np.arange(4):
    print('iteration', i)

In [ ]:
coin

In [ ]:
sum(np.random.choice(coin, 100) == 'Heads')

That was one experiment (flipping 100 times).  What if we wanted to repeat 10,000 experiments, and produce a table of results?

In [ ]:
num_heads = make_array(sum(np.random.choice(coin, 100) == 'Heads'))
num_heads

In [ ]:
num_heads = np.append(num_heads, sum(np.random.choice(coin, 100) == 'Heads'))
num_heads

In [ ]:
num_heads = make_array()
for i in np.arange(10000):
    num_heads = np.append(num_heads, sum(np.random.choice(coin, 100) == 'Heads'))
num_heads

In [ ]:
len(num_heads)

In [ ]:
t = Table().with_column('Heads in 100 coin flips', num_heads)
t.hist(bins=np.arange(30, 70, 1))

In [ ]:
most = t.group('Heads in 100 coin flips')\
        .where('Heads in 100 coin flips', are.between(40, 60))
most.show()

In [ ]:
sum(most.column('count')) / t.num_rows * 100

In [ ]:
#noaccident that it's 95%

## Predicates (additional material)

In [ ]:
ages

In [ ]:
sortof_young = are.between(35, 45)
ages.where('Age', sortof_young)

In [ ]:
sortof_young(38)

In [ ]:
sortof_young(45)

In [ ]:
ages.apply(sortof_young, 'Age')

In [ ]:
sum(ages.apply(sortof_young, 'Age'))

In [ ]:
teen

In [ ]:
ages.where('Age', teen)