In [ ]:
from datascience import *
import numpy as np

%matplotlib inline
import matplotlib.pyplot as plots
plots.style.use('fivethirtyeight')

## Apply with Multiple Arguments

In [ ]:
height = Table.read_table('galton.csv').select(1, 2, 7).relabeled(2, 'child')
height

In [ ]:
t = height.with_column(
    'tallest', height.apply(max, 'father', 'mother', 'child')
)

In [ ]:
t.scatter('father', 'tallest')

In [ ]:
t.scatter('child', 'tallest')

In [ ]:
def abs_diff(x, y):
    return abs(x - y)

diffs = height.apply(abs_diff, 'father', 'mother')
Table().with_column('Height difference', diffs).hist(unit='inch', bins=np.arange(0, 18, 1))

In [ ]:
diffs = abs(height.column('father') - height.column('mother'))
Table().with_column('Height difference', diffs).hist(unit='inch', bins=np.arange(0, 18, 1))

## Group

In [ ]:
all_cones = Table.read_table('cones.csv')
cones = all_cones.drop('Color').exclude(5)
cones

In [ ]:
cones.group('Flavor')

In [ ]:
cones.group('Flavor', sum)

In [ ]:
cones.where('Flavor', are.equal_to('chocolate')).column('Price')

In [ ]:
sum(cones.where('Flavor', are.equal_to('chocolate')).column('Price'))

In [ ]:
sum(cones.where('Flavor', are.equal_to('strawberry')).column('Price'))

In [ ]:
cones.group('Flavor', max)

In [ ]:
cones.group('Flavor', list)

Which NBA team payed their players the most?

In [ ]:
nba = Table.read_table('nba_salaries.csv').relabeled(3, 'SALARY')
nba

Keep only team and salary columns for analysis

In [ ]:
teams_and_money = nba.select('TEAM', 'SALARY')
teams_and_money

In [ ]:
teams_and_money.group('TEAM', sum)

In [ ]:
teams_and_money.group('TEAM', sum).sort(1, descending=True).barh('TEAM')

In [ ]:
nba.group('POSITION')

In [ ]:
positions_and_money = nba.select('POSITION', 'SALARY')
positions_and_money.group('POSITION', np.mean)

In [ ]:
nba.group('POSITION', np.mean)

## Group by multiple columns

In [ ]:
all_cones

In [ ]:
all_cones.group('Flavor')

In [ ]:
all_cones.group(['Flavor', 'Color'])

In [ ]:
all_cones.group(['Flavor', 'Color'], min)

## Challenge question

Which NBA teams spent the most on their starters in 2016?
* Each team has one starter per position
* Assume the starter for a team & position is the player with the highest salary on that team in that position

In [ ]:
nba

In [ ]:
starters = nba.drop('PLAYER').group(['TEAM', 'POSITION'], max)
starters

In [ ]:
starters.drop('POSITION').group('TEAM', sum).sort(1, descending=True)

## Pivot tables

In [ ]:
all_cones.pivot('Flavor', 'Color')

In [ ]:
all_cones.pivot('Flavor', 'Color', values='Price', collect=min)

In [ ]:
all_cones.group(['Flavor', 'Color'], min)

In [ ]:
nba.pivot('POSITION', 'TEAM')

In [ ]:
nba.pivot('POSITION', 'TEAM', 'SALARY', max)